.container{
    width: 100% !important;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
form{
    width: 100%;
}
.main{
    margin-left: 10px;
}
.container-main{
    left: 0 !important;
    width: 100%;


}
.paragraph{
    width: 100%;
    background: none;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;

}
.paragraph .add-btn{
    display: none;
}
.paragraph:hover{
    border: 1px solid black;
    border-radius: 5px;
}
.paragraph:hover .add-btn{
    display: flex;
}

/*.parent .sub-menu{*/
/*    position: relative;*/
/*}*/

/*.parent .sub-menu .sub-item{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 100;*/
/*}*/